{% extends 'layouts/layout.html' %}

{% block title %}Университеты и Студенты{% endblock %}
    
{% block body %}
<div class="container pt-3 my-3">
    <h1>Список студентов</h1>
    <h2>Университет:</h2>
    <h4>Полное наименование: {{ current_uni.full_name }}</h4>
    <h4>Сокращенное наименование: {{ current_uni.short_name }}</h4>
    <h4>Дата основания: {{ current_uni.foundation_date }}</h4>
    <div class="container pt-3 pb-3 mb-1 border">
        <a href="{% url 'mainpage' %}" class="btn btn-primary">Главная</a>
        <a href="{% url 'AddStudent' current_uni.pk %}" class="btn btn-primary">Добавить студента</a>
        <a href="{% url 'EditUni' current_uni.pk %}" class="btn btn-primary">Изменить данные университета</a> 
        <a href="{% url 'DelUni' current_uni.pk %}" class="btn btn-primary">Удалить университет</a>

        <!-- {% for uni in unis %}
        <a href="{% url 'by_uni' uni.pk %}">{{ uni.short_name }}</a>
        {% endfor %} -->
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Дата Рождения</th>
                    <th>Год поступления</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td><a href="{% url 'EditStudent' current_uni.pk student.pk %}">{{ student.fitst_name }} {{ student.second_name }} {{ student.last_name }}</a></td>
                    <td>{{ student.birth_date }}</td>
                    <td>{{ student.admission_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
